[Desktop Entry]
Encoding=UTF-8
Name=xsoldier
Comment=Shoot'em up game
Comment[pl]=Strzelanina pod X Window System
Icon=xsoldier.png
Exec=xsoldier
Type=Application
Terminal=false
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
